# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Data downloaded by torchvision
data/

# Large model weights
artifacts/*.pt
artifacts/*.pth

# Notebook / editor files
.ipynb_checkpoints/
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
